#! I'm not sure what are those, but do not remove them
/index.html
/index.css
/index.js

#* Remove when wiki is done
/resources/font
/wiki

# Tests
/src/index.html
/src/test.ts
/dir/test.js
/save-files